body {
    background-color: hsl(220, 15%, 55%)
}
.qr-container {
    border-radius: 15px 15px 15px 15px;
    width: fit-content;
    height: 900px;
    background-color: hsl(0, 0%, 100%);
    display: block;
    margin: auto;
}
.qr {
    border-radius: 10%;
    padding: 18px;
    border-radius: 50%;
    width: fit-content;
    height: auto;
}
img {
    border-radius: 10%;
}
#demo {
    font-size: 25px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    display: flex;
    justify-content: center;
    align-content: center;
}
#demo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(212, 45%, 89%);
    opacity: 0.9;
    font-size: 16.5px;
}